@import "../theme.module.scss";

.sectionOne {
  width: 85%;
  height: auto;
  margin-inline: auto;
  background-color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 50px;
  transition: all 0.5s;
}
.aboutMe {
  margin-top: 20px;

  @media screen and(min-width: 44em) {
    width: 85%;
    margin-inline: auto;
    height: 550px;
    max-width: 1084px;
    border: 1px solid var(--button-border);
    margin-top: -40px;
    text-align: center;
    padding-top: 50px;
  }
}
.title {
  font-size: 1.375em;

  @media screen and(min-width: 44em) {
    font-size: 1.7875em;
  }
}
.desc {
  line-height: 160.7%;
  padding-right: 20px;
  margin-top: 40px;
  font-size: 1.125em;
  line-height: 160.7%;

  @media screen and(min-width: 44em) {
    width: 60%;
    margin-inline: auto;
    font-size: 1.575em;
  }
}
.caption {
  margin-top: 50px;
  padding-right: 20px;
  font-size: 1.7625em;
  line-height: 155.7%;
  font-weight: bold;

  @media screen and(min-width: 44em) {
    width: 44%;
    margin-inline: auto;
    font-size: 1.975em;
  }
}

.scroll {
  display: block;
  text-align: right;
  padding: 0 20px;
  font-size: 1.4625em;
  margin-top: 130px;

  @media screen and(min-width: 44em) {
    margin-top: -6px;
    padding-right: 60px;
  }
}

.skills {
  width: 85%;
  height: auto;
  margin-inline: auto;
  margin-top: 100px;
  padding-bottom: 80px;

  @media screen and(min-width: 44em) {
    width: 75%;
  }
  h2 {
    font-size: 1.5625em;
    line-height: 160.7%;

    @media screen and (min-width: 44em) {
      text-align: center;
      font-size: 1.975em;
      width: 50%;
      margin-inline: auto;
    }
  }
}

.listSkills {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  @media screen and(min-width: 44em) {
    justify-content: space-between;

    margin-inline: auto;
  }

  ul {
    // background-color: red;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding: 0;

    @media screen and(min-width: 44em) {
      width: 20%;
    }

    &:nth-child(2) {
      margin-left: 30px;
    }
    li {
      list-style: none;
      padding: {
        top: 25px;
      }
      font-size: 1.125em;
    }
  }
}
