@import "../theme.module.scss";

.navWrap {
  background: rgba(0, 0, 0, 0.384);
  z-index: 3;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
.navMenu {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: $secondary;
  top: 0;
  padding: 25px;
  color: $primaryBg;
  // display: none;

  @media screen and(min-width: 44em) {
    width: 50%;
    padding: 25px 80px;
  }
}

.closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  align-items: center;

  span{
    margin-right: 5px;
    font-size: 1.2em;
  }
}

.close {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.listItems {
  margin-top: 150px;
}

.url {
  width: 100%;
  padding: 10px 0px;
  list-style: none;
  list-style-position: outside;
  font-size: 1.4em;
}

.active {
  color: var(--background-color);
}

.socialWrap {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}

.gIcon,
.iIcon,
.dIcon,
.lIcon,
.tIcon {
  width: 30px;
  height: 30px;
  color: black;
}
