@import "./theme.module";

:root {
  --background-color: #000000;
  --text-color: #ffffff;
  --link-color: #ffffff;
  --secondary-color: #ff9a0d;
  --button-border: #ffffff8c;
  --toggle-bg: rgba(255, 255, 255, 0.171);
  --toggle-icon: #f79409;
  --social-color: #ffffffe8;
}

[data-theme="light"] {
  --nav-bg-color: rgba(255, 255, 255, 0.15);
  --background-color: #ffffff;
  --text-color: #000000e7;
  --secondary-color: #ff9a0d;
  --link-color: #000000;
  --button-border: #00000025;
  --social-color: #000000;
  --toggle-icon: #000000;

  --toggle-bg: rgba(0, 0, 0, 0.11);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Play", sans-serif;
  scroll-behavior: smooth;
  background-color: var(--background-color);
  color: var(--text-color);
}

.rootWrapper {
  color: var(--text-color);
  height: auto;
  background-color: var(--background-color);
  transition: all 0.5s;
}
.aboutRoot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1,
h3,
h4,
h5,
h6 {
  font-family: "poppins", sans-serif;
}
h2 {
  font-family: "Play", sans-serif;
}
p {
  font-size: 1.125em;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo {
  width: 30px;
  height: 30px;
}

.toggleWrap {
  width: 40px;
  height: 40px;
  position: fixed;
  border: 1px solid rgba(255, 255, 255, 0.342);
  right: 0;
  transform: translateY(-50%);
  top: 50%;
  z-index: 1000;
  // background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 1px solid var(--toggle-bg);
}

.themeIcon {
  width: 28px;
  height: 28px;
  color: var(--toggle-icon);
}
